$maxMobile: 767px;
$minSmall: 768px;
$minMedium: "(min-width: 992px)";
$maxMedium: 1199px;

$orangeColor: #ffa900;
$whiteColor: #fff1d5;
$blueColor: #2c20c0;
$greyColor: #f7f7f7;
$blackColor: #252525;
$purpleColor: #6d0eb1;

$mainTransition: 0.3s;
$seconderyTransition: 0.7s;


$float-left: left;
$float-right: right;